$brand-01: #0530ad !default;
$brand-02: #0f6fff !default;
$brand-03: #97c1ff !default;
$ui-01: #ffffff !default;
$ui-02: #f3f3f3 !default;
$ui-03: #f3f3f3 !default;
$ui-04: #dcdcdc !default;
$ui-05: #767676 !default;
$text-01: #252525 !default;
$text-02: #767676 !default;
$text-03: #252525 !default;
$inverse-01: #ffffff !default;
$field-01: #ffffff !default;
$support-01: #e02730 !default;
$support-02: #24a249 !default;
$support-03: #fdd13a !default;
$support-04: #1193e8 !default;
