//// Financial Crimes
$brand-01: #6f28cc;
$brand-02: #924cfc;
$brand-03: #bc8aff;

//// Regulatory Compliance
$brand-01: #006162;
$brand-02: #009e9b;
$brand-03: #20d5d2;

//// Other products
$brand-01: #0530ad !default;
$brand-02: #0f6fff !default;
$brand-03: #97c1ff !default;
